<!-- Basic -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" >

<title><%= page_or_default 'title' %></title>

<meta name="keywords" content="<%= page_or_default 'keywords' %>" />
<meta name="description" content="<%= page_or_default 'description' %>">
<meta name="author" content="<%= page_or_default 'author' %>">

<!-- Favicon -->
<link rel="shortcut icon" href="<%= page_or_default 'favicon' %>" type="image/x-icon" />
<link rel="apple-touch-icon" href="<%= page_or_default 'appletouchicon' %>">

<!-- Mobile Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Web Fonts  -->
<link href="<%= page_or_default 'fonts' %>" rel="stylesheet" type="text/css">

<!-- Vendor CSS -->
<link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.css">
<link rel="stylesheet" href="/vendor/fontawesome/css/font-awesome.css">
<link rel="stylesheet" href="/vendor/simple-line-icons/css/simple-line-icons.css">
<link rel="stylesheet" href="/vendor/owlcarousel/owl.carousel.min.css">
<link rel="stylesheet" href="/vendor/owlcarousel/owl.theme.default.min.css">
<link rel="stylesheet" href="/vendor/magnific-popup/magnific-popup.css">

<!-- Theme CSS -->
<%= stylesheet_link_tag "normalize"%>
<%= stylesheet_link_tag "theme" %>
<%= stylesheet_link_tag "theme-elements" %>
<%= stylesheet_link_tag "theme-blog" %>
<%= stylesheet_link_tag "theme-shop" %>
<%= stylesheet_link_tag "theme-animate" %>
<%= stylesheet_link_tag "styles" %>

<!-- Current Page CSS -->
<link rel="stylesheet" href="/vendor/rs-plugin/css/settings.css" media="screen">
<link rel="stylesheet" href="/vendor/circle-flip-slideshow/css/component.css" media="screen">

<!-- Skin CSS -->
<%= stylesheet_link_tag "skins/default" %>

<!-- Theme Custom CSS
<link rel="stylesheet" href="css/custom.css"> -->

<!-- Head Libs -->
<script src="/vendor/modernizr/modernizr.js"></script>

<!--[if IE]>
  <link rel="stylesheet" href="css/ie.css">
<![endif]-->

<!--[if lte IE 8]>
  <script src="/vendor/respond/respond.js"></script>
  <script src="/vendor/excanvas/excanvas.js"></script>
<![endif]-->

<% if build? %>
	<!-- Add Sumo Me for Email Collection -->
	<script src="//load.sumome.com/" data-sumo-site-id="d3ab857f38e5f402e1ba37eba90e44edeaf4a10f92d666090c267c5717d00523" async="async"></script>
	<script data-leadbox="142416473f72a2:17d7e942bb46dc" data-url="https://cognitelabs.leadpages.co/leadbox/142416473f72a2%3A17d7e942bb46dc/5629935204958208/" data-config="%7B%22type%22%3A%22exit%22%2C%22settings%22%3A%7B%22days%22%3A7%7D%7D" type="text/javascript" src="https://cognitelabs.leadpages.co/leadbox-1465587185.js"></script>
	<!-- Facebook Pixel Code -->
	<script>
	!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
	n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
	n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
	t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
	document,'script','https://connect.facebook.net/en_US/fbevents.js');
	fbq('init', '307716439604975');
	fbq('track', 'PageView');
	</script>
	<noscript><img height="1" width="1" style="display:none"
	src="https://www.facebook.com/tr?id=307716439604975&ev=PageView&noscript=1"
	/></noscript>
	<!-- DO NOT MODIFY -->
	<!-- End Facebook Pixel Code -->
<% end %>
