---
title: EAM Staffing & Recruiting
description: The business consultants of Common Wealth Enterprise help businesses grow revenues, shrink costs, and explode margins. At Common Wealth Enterprises, uncommon results are common.
keywords: Lansing MI business consultants, common wealth enterprises
---

<div class="body">
	<div role="main" class="main" id="home">
		<%= partial "partials/features/slider" %>
		<%= partial "partials/features/buttons-positions-employers" %>
		<%= partial "partials/features/process-intro"  %>
		<%= partial "partials/features/process-step1"  %>
		<%= partial "partials/features/process-step2"  %>
		<%= partial "partials/features/process-step3"  %>
		<%= partial "partials/features/process-step4"  %>
		<%= partial "partials/features/process-step5"  %>
		<%= partial "partials/features/looking-for"  %>
				<%= partial "partials/features/who-we-serve"  %>
				<%= partial "partials/features/partners"  %>

		<%= partial "partials/features/testimonials-parallax"  %>
		
		
	</div>
</div>